<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    
    <!-- The URI to the Deployment Controller to check for activity -->
    <add key="PolymeliaDeployBaseWebUri" value="http://localhost:12345" />
    
    <!-- The role the server has, it will be used to check with the Deployment Controller if the role has 
         some tasks to execute-->
    <add key="ServerRoleName" value="localhost" />

    <!-- Specify the key of the Controller -->
    <add key="ControllerKey" value="1234567890" />
    
  </appSettings>

</configuration>